<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @snp.name %>
</p>

<p>
  <b>Content:</b>
  <%= @snp.content %>
</p>


<%= link_to 'Edit', edit_snp_path(@snp) %> |
<%= link_to 'Back', snps_path %>
