<!DOCTYPE html>
<html>
<head>
  <title>CHOP</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
  		<div class="navbar-inner">
    		<div class="container">
    			<a class="brand" href="/home/index">  CHOP - Organ Transplant SNP Database</a>
    			<ul class="nav">
      				<li><a href="">LINK 1</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 2</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 3</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 4</a></li>
      				<li class="divider-vertical"></li>
    			</ul>
          <ul class ="nav pull-right">
          <% if user_signed_in? %>

              <ul class="nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.full_name %>
                <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Show Profile", profiles_show_path %></li>  
                </ul>
                </li>
                <li><%= link_to "Log Out", logout_path %></li>
              </ul>
          <% else %>
              <li><%= link_to "Register", register_path %></li>
              <li><%= link_to "Log In", login_path %></li>

          <% end %>
          </ul>
    	  	</div>
		</div>
	</div>
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>

      </div>
    <% end %>
	    <%= yield %>
	</div>
</body>
</html>
