<!DOCTYPE html>
<html>
<head>
  <title>CHOP</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
  		<div class="navbar-inner">
    		<div class="container">
    			<a class="brand" href="#">  CHOP - Organ Transplant SNP Database</a>
    			<ul class="nav">
      				<li class="active"><a href="snps_path">Home</a></li>
      				<li><a href="">LINK 1</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 2</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 3</a></li>
      				<li class="divider-vertical"></li>
      				<li><a href="">LINK 4</a></li>
      				<li class="divider-vertical"></li>
    			</ul>
          <ul class ="nav pull-right">
          <% if user_signed_in? %>
              <li><%= link_to current_user.first_name + " " + current_user.last_name, edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
          </ul>
    	  	</div>
		</div>
	</div>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
	    <%= yield %>
	</div>
</body>
</html>
